.profilep{
    margin: auto;
    width: 60px;
    height:60px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.img{
   
    width:50px;
    height:30;
    background-color: antiquewhite;
    border-radius: 50%;
    
}
.cont{
    background-color: rgb(7, 124, 124);;
    border-radius: 15px;
    height: 120px;
    padding: 30px;;
    width: 80%;
    overflow: hidden;
    margin:0 auto;
    
}