*{
    font-family: 'Times New Roman', Times, serif;
}
.cartContainer {
    padding: 20px;
    overflow-x: hidden; // Prevent horizontal overflow

    @media (max-width: 768px) {
        padding: 10px;
    }
}
.name
{
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.name::after
  {
    content: "";
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 1px;
    width: 100px;
    transition: all 0.5s;
    background-color: #555454;
  }
  .name:hover::after
  {
    width: 400px;
  }

.cartItems {
    width: 100%; // Ensure it does not exceed the parent width
}

.cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
    width: 100%; // Prevent overflow
    box-sizing: border-box; // Include padding in width
    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.cartItemImage {
    width: 30%; /* Fixed width */
    height: 100%; /* Fixed height */
    object-fit: cover; /* Cover the area without distortion */
}

.cartItemDetails {
    margin-left: 15px;
    flex-grow: 1; /* Allow details to take available space */
}
.cartItemTitle{
    padding:  10px 0;
}
.cartItemDescription {
    font-size: 0.9em; /* Slightly smaller font size for description */
    color: #666; /* Gray color for description text */
    margin-bottom: 10px; /* Spacing between description and price */
}

.cartItemQuantity {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .quantityButton {
        width: 30px; /* Fixed button width */
        height: 30px; /* Fixed button height */
        margin: 0 5px; /* Margin between buttons */
    }

    .quantityCount {
        margin: 0 10px; /* Space around count */
        font-weight: bold; /* Bold count */
    }
}

.cartSummary {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summaryDetails {
    margin-bottom: 20px;
}

.clearCartButton, 
.checkoutButton {
    width: 100%; /* Full width buttons */
    margin-top: 10px; /* Space above buttons */
}
